# dependencies
/node_modules

# production
/build

# misc
.DS_Store
.env
npm-debug.log*

# testing
/coverage

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-debug.log*
yarn-error.log* 